.movies {
  display: flex;
  justify-content: center;
  margin-bottom: 100%;
}
@media only screen and (max-width: 760px) {
  .movies {
    top: 200px;
    position: relative;
  }
  .list-movies {
    width: 50%;
  }
}

.list-movies {
  margin-bottom: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
