@import "../../scss/variables";
@media only screen and (min-width: 720px) {
  .movie-card {
    width: 400px;
    border-radius: 8px;
    box-shadow: 15px 15px 30px #0000007a;
    border-radius: 8px;
    opacity: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 16px 9px 16px 9px;
  }
  .movie-large {
    height: 526px;
  }
  .movie-small {
    height: 374px;
  }
}
@media only screen and (max-width: 720px) {
  .movie-card {
    width: 90% !important;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 8px;
  }
  .movie-large {
    height: 70%;
    min-height: 265px;
  }
  .movie-small {
    height: 30%;
    min-height: 185px;
  }
}
.movie-card .movie-card-body {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
.movie-card .movie-card-header {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
.movie-card:hover .movie-card-header {
  visibility: visible;
  opacity: 1;

  height: 30%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.movie-title {
  text-align: left;
  font: normal normal bold 20px/24px Montserrat;
  letter-spacing: 0px;
  color: $white;
  text-shadow: 0px 3px 6px $grey;
  opacity: 1;
  margin-bottom: 8px;
}
.movie-duration {
  text-align: left;
  font: normal normal 300 16px/19px Montserrat;
  letter-spacing: 0px;
  color: $white;
  text-shadow: 0px 3px 6px $grey;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 16px;
}
.movie-card:hover .movie-card-body {
  visibility: visible;
  opacity: 1;
  color: $white;
  bottom: 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-left: 24px;
}
.favorite-active {
  filter: invert(1);
}

.stream-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.stream-name {
  font: normal bold 16px/19px Montserrat !important;
  align-content: center;
  align-items: center;
  display: flex;
}
.row-trailer {
  display: flex;
  margin-bottom: 40px;
}
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.274) !important;
}
@media only screen and (max-width: 760px) {
  .stream-name {
    font: normal bold 10px/13px Montserrat !important;
  }
  .stream-button {
    width: 215px;
    font: italic normal 300 10px/13px Montserrat !important;
  }
  strong img {
    width: 15px;
    height: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .btn-favorite {
    padding: 4px 4px 4px 4px !important;
    margin-right: 8px !important;
    margin-top: 16px !important;
  }
  .movie-duration {
    font: normal normal 300 10px/10px Montserrat !important;
  }
  .movie-title {
    font: normal normal bold 13px/13px Montserrat !important;
  }
  .movie-card:hover .movie-card-body {
    margin-left: 8px;
  }
  .row-trailer {
    margin-bottom: 8px;
  }
  .filter {
    width: 97%;
  }
}
