body {
  background: transparent linear-gradient(180deg, #0F1825 0%, #0F1825 50%, #0D0D1B 100%) 0% 0% no-repeat padding-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat';
}

code {
  /* font:"" */
}
