$white: #ffffff;
$white2: #ffffff19;
$blue: #9FADC3;
$lightBlue: #0d316765;
$darkBlue: #262E3A;
$black: #13171d;
$grey: #858585;
$lightGray: #00000029;
$extraLightGray: #13171d0d;
$darkGrey: #3A3B42;
$brown: #000000e6;

$font: normal normal 600 16px/19px Montserrat;
