button {
  cursor: pointer;
}
.btn {
  border-radius: 26px;
  opacity: 1;
  border: 0;
  padding: 16px 44px 16px 44px;
  font: $font;
  text-align: center;
  letter-spacing: 0px;
}

.btn-black {
  background: $black 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px $lightGray;
  opacity: 1;
  color: $white;
}
.btn-darkBlue {
  background-color: $darkBlue;
  color: $white;
}

.btn-darkGrey {
  background: $darkGrey 0% 0% no-repeat padding-box;
  color: $white;
}
.btn-favorite {
  padding: 14px 16px 13px 16px !important;
}
.btn-favorite img {
  width: 16.66px;
  height: 23.33px;
}
@media only screen and (max-width: 720px) {
  .btn {
    font: normal normal 600 9px/11px Montserrat;
    padding: 5px 7px 5px 10px;
  }
  .dropdown-content a {
    font: normal normal 300 10px/13px Montserrat;
    padding: 5px 12px 5px 12px !important;
  }
  .dropdown-content li {
    font: normal normal 300 10px/13px Montserrat !important;
    padding: 5px 12px 5px 12px !important;
  }
  .btn-favorite {
    padding: 5px 8px 7px 8px !important;
  }
  .btn-favorite img {
    width: 8px !important;
    height: 11px !important;
  }
  .dropdown-toggle img {
    width: 4.11px !important;
    height: 6.97px !important;
  }
}
.dropdown-content {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(429px, 1017px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  background: $white;
  border-radius: 15px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12.5px 25px 12.5px 25px;
  text-decoration: none;
  text-align: right;
  letter-spacing: 0px;
  border: 0;
  border-top: 1px solid #eee;
  font: italic normal 300 13px/16px Montserrat;
  letter-spacing: 0px;
  border-top-width: 75%;
}
.dropdown-content li {
  color: black;
  cursor: pointer;
  list-style: none;
  padding: 16px 25px 16px 25px;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0px;
  text-align: left;
  font: normal normal medium 16px/19px Montserrat;
  letter-spacing: 0px;
}
.dropdown-content li:first-child {
  padding-top: 16px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.dropdown-content li:last-child {
  padding-bottom: 16px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.dropdown-content li:hover {
  color: $white;

  background: $blue;
  text-decoration: none;
}
.dropdown-content a:first-child {
  padding-top: 25px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.dropdown-content a:last-child {
  padding-bottom: 25px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.dropdown-content a:hover {
  color: black;

  background: $blue;
  text-decoration: none;
}
